{
  "env": {
    "development": {
      "presets": ["react", "es2015", "stage-1", "react-hmre"]
    },
    "production": {
      "presets": ["react", "es2015", "stage-1"],
      "plugins": ["transform-react-remove-prop-types"]
    },
    "test": {
      "presets": ["react", "es2015", "stage-1"],
      "plugins": ["transform-react-remove-prop-types", "rewire"]
    }
  }
}
