{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 4, {"SwitchCase": 1, "VariableDeclarator": 1, "MemberExpression": 2}],
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-extra-semi": "error",
    "semi": ["error", "never"],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "new-cap": 0,
    "react/prefer-stateless-function": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/imports-first": 0,
    "max-len": ["error", 120],
    "react/sort-comp": 0,
    "space-before-function-paren": 0,
    "react/jsx-no-bind": 0,
    "jsx-quotes": 0,
    "operator-linebreak": 0,
    "yield-star-spacing": ["error", "after"],
    "no-unneeded-ternary": 0,
    "react/jsx-boolean-value": 0,
    "newline-before-return": "error",
    "newline-after-var": "error",
    "no-console": "error",
    "no-alert": "error",
    "no-debugger": "error"
  }
}
